body{margin:5px;}
h1{
    font-size:25px
}
/* header 樣式設定 */
.header{
	display:flex;
    align-items: stretch;
    background-color:#0df491;
}
.header>.logo{
	/* 沒有彈性，固定尺寸 */
	display:inline-flex;
    flex-wrap:nowrap;
    padding:12px;
	background-color:#2bd3ac;
    cursor: pointer;
    
}
.header>.menu{
	/* 盡量把容器的空間張滿 */	
	flex:auto;
	background-color:#0df491;
    padding:10px;
    flex-wrap:nowrap;
    align-self:center;
}

.header>.menu>button{
    border:0; background-color:white;
    width:100px;height:50px;
    font-size: 20px;
    cursor: pointer;
}


.header>.user{
	flex:none;width:100px;
    text-align: center;
	background-color:#90c390;
    padding:10px;
    cursor: pointer;
}

@media (max-width:1200px){
    .header{
        flex-wrap:wrap;
        justify-content: center;
    }
    .header>.logo{
        width:100%;
        justify-content: center;
    }
    .header>.logo>img{
        width:130px;
    }
    .header>.logo>h1{
        font-size:90px
    }
    .header>.menu>button{
        width:20%;
        height:auto;
        margin-left: 3%;;
        padding:10px;
        font-size:50px;
    }
    .header>.user{
        width:auto;
    }
    .header>.user>h1{
        font-size:50px;
    }
}
/* main 樣式設定 */
main{ /* 容器 */
	display:flex;flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	background-color:#cccccc;
}
main>.item{ /* 項目 */
	flex:none;
	width:270px;margin:10px;
	background-color:#ffcccc;
}
@media (max-width:500px){
	main>.item{
		width:45%;
    }
}
@media (max-width:500px){
	main>.item{
		width:90%;
	}
}